<!DOCTYPE html>
<html class='no-js' lang='en'>
  <head>
    <meta charset='utf-8'>
    <title></title>
    <meta content='' name='description'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <link href='/favicon.ico' rel='shortcut icon'>
    <link href='css/bootstrap.css' rel='stylesheet'>
  </head>
  <body>
    <div class='banner'></div>
    <div class='container-fluid' id='main-content'>
      <div class='hero'>
        <p class='hr'>And the winner is...</p>
        <a class='h2'><%= yield %></a>
        <p class='hr'>Congratulations!</p>
        <p class='h1'>
          powered by
          <img src='img/twilio-logo.png'>
        </p>
      </div>
    </div>
    <script src='js/lib/jquery-1.7.1.min.js'></script>
  </body>
</html>
